extends layout

block content
  h1= title
  each item in items
    h1.customer= item.customer
    h3.tel= item.tel
    h3.email= item.email
    h3.address= item.address
    h3.order= item.itemsOrdered
